@import "tailwindcss";

html {
  @apply m-0 p-0 box-border bg-[#F0EADE];
}

* > button {
  @apply cursor-pointer;
}

:root {
  --brown-color: #502d1c;
  --main-color: #f0eade;
  --accent-color: #423c36;
}

body {
  font-family: var(--font-montserrat);
}
